.techstack-menu {
    display:flex;
    z-index:3;
    position:relative;
    right:0%;
    transition:0.5s;
    font-size: 1.6rem;
    cursor:pointer;
    top:0.4rem;
    
    &.toggle {
        right:-100%;
        transition:0.5s;
    }

    i {
        line-height: 0.3;
        top:0.8rem;
    }

    &-sidebar {
        position:absolute;
        right:-100%;
        transition:0.5s;
        top: 7%;
        font-weight: 400;

        &.toggle {
            right:20%;
            transition:0.6s;
        }
    }
    
}