@font-face {
font-family: 'fontello';
src: url('../font/fontello.eot?57254392');
src: url('../font/fontello.eot?57254392#iefix') format('embedded-opentype'),
url('../font/fontello.woff2?57254392') format('woff2'),
url('../font/fontello.woff?57254392') format('woff'),
url('../font/fontello.ttf?57254392') format('truetype'),
url('../font/fontello.svg?57254392#fontello') format('svg');
font-weight: normal;
font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'fontello';
src: url('../font/fontello.svg?57254392#fontello') format('svg');
}
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
font-family: "fontello";
font-style: normal;
font-weight: normal;

display: inline-block;
text-decoration: inherit;
text-align: center;
/* opacity: .8; */

/* For safety - reset parent styles, that can break glyph codes*/
font-variant: normal;
text-transform: none;

/* you can be more comfortable with increased icons size */
/* font-size: 120%; */

/* Font smoothing. That was taken from TWBS */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-babel:before { content: '\e800'; } /* '' */
.icon-bootstrap:before { content: '\e801'; } /* '' */
.icon-css3:before { content: '\e802'; } /* '' */
.icon-git:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-google-1:before { content: '\e805'; } /* '' */
.icon-gulp:before { content: '\e806'; } /* '' */
.icon-html5:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-javascript:before { content: '\e80a'; } /* '' */
.icon-less:before { content: '\e80c'; } /* '' */
.icon-mongodb:before { content: '\e80d'; } /* '' */
.icon-nodejs2:before { content: '\e80e'; } /* '' */
.icon-npm:before { content: '\e80f'; } /* '' */
.icon-react:before { content: '\e812'; } /* '' */
.icon-sass:before { content: '\e813'; } /* '' */
.icon-sourcetree:before { content: '\e814'; } /* '' */
.icon-stylus:before { content: '\e815'; } /* '' */
.icon-trello:before { content: '\e816'; } /* '' */
.icon-typescript:before { content: '\e817'; } /* '' */
.icon-slack:before { content: '\e818'; } /* '' */
.icon-menu:before { content: '\e819'; } /* '' */
.icon-adobe-xd:before { content: '\e81a'; } /* '' */
.icon-adobe-photoshop:before { content: '\e81b'; } /* '' */
.icon-adobe-illustrator:before { content: '\e81c'; } /* '' */
.icon-vuejs-plain:before { content: '\e822'; } /* '' */
.icon-google:before { content: '\e823'; } /* '' */
.icon-jquery:before { content: '\e824'; } /* '' */
.icon-google-analytics:before { content: '\e82a'; } /* '' */
.icon-google-ads:before { content: '\e82c'; } /* '' */
.icon-nodejs:before { content: '\e830'; } /* '' */
.icon-vuejs:before { content: '\e831'; } /* '' */
.icon-loggaelin:before { content: '\e833'; } /* '' */
.icon-paperplane:before { content: '\f2c6'; } /* '' */
.icon-linkedin:before { content: '\f319'; } /* '' */