
ol, ul {
	list-style: none;
}

.h1 {
    font-size:1.8rem;
}
.h2 {
    font-size:1.6rem;
}
h3 {
    font-size:1.4rem;
}
.p {
    font-size:1.2rem;
    line-height:1.4;
}
.pointer-none {
    pointer-events: none;
}

.main {
    padding:0 6%;
    box-sizing:border-box;
    overflow: hidden;
}
.section-intro {
    position: relative;
    padding-top:55%;
    width:90%;
    height:28rem;
    transition: 0.5s;
}
.new-vh {
    height:auto; 
    height:10rem;
    transition: 0.5s;
}
.intro-img {
    position:relative;
    width:100%;
    top:0%;
    left:0%;
    margin-bottom:2.6rem;
    transition: 0.5s;
}
.intro-img-toexperience {
    position: relative;
    width: 100%;
    object-fit: cover;
    top: 5%;
    left: 0%;
    transition: 0.5s;
}
.section-experience{
    width:100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.experience {
    font-size:2rem;
    font-weight: 400;
}
.experience-list{
    position: relative;
    width:100%;
    order:2;
}
.experience-list:before {
    content: "";
    display: block;
    position: absolute;
    height: 84%;
    width: 0.2rem;
    background: #fff;
    left: 0.15rem;
    top: 2%;
}
.experience-info {
    position: relative;
    width:100%;
    order:1;
    margin-bottom:2.6rem;
}
.bold {
    font-weight: 400;
}
ul {
    list-style: none;
    padding:1rem 0rem;
    font-size:1.4rem;
}
ul .p {
    font-size:1.2rem;
    line-height:2;
}
.ul-custom-dot li {
    position: relative;
    padding:0 0 1.4rem 2rem; 
    cursor: pointer;
}

.ul-custom-dot li:before {
    position: absolute;
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    background-color: #fff;
    border-radius: 50%;
    left: -0.14rem;
    top: 0.5rem;
}

.footer {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:1.2rem;
    padding:6%;
    box-sizing:border-box;  
    overflow: hidden;
    line-height: 1.7;
}

.footer i {
    padding-right:0.5rem;
}

.fade-in {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
    0% {opacity:0.2;}
    100% {opacity:1;}
}

@media only screen and (min-width:500px){
    .section-intro {
        padding-top: 37%;
        width: 75%;
        height: 50vh;
    }
    .experience-info {
        padding-left:0;
    }
    .section-intro.new-vh {
        height:9rem;
    }
    .techstack-sidebar-container {
        padding: 15% 10%;
    }
}

@media only screen and (min-width:720px) and (max-width:920px){
    .section-intro {
        height:45vh;
    }
    .section-experience{
        flex-direction: row;
    }
    .experience-info {
        order:2;
        width:60%;
    }
    .experience-list {
        order:1;
    }
    .section-intro.new-vh {
        height:8rem;
    }

}


@media only screen and (min-width:920px) {
    .header {
        padding:3rem 6rem 0.5rem;
    }
    .h1 {
        font-size:2.4rem;
    }
    body, .header, .main, .footer {
        max-width:1400px;
        margin: 0 auto;
    }
    .main {
        margin-bottom: -11.5rem;
        padding:0 6rem;
    }
    .techstack-meny {
        font-size: 2rem;
        
    }
    .techstack-meny-open {
        right:15%;
    }
    .techstack-sidebar {
        width:50%;
        right:-50%;
    }
    .techstack-meny-sidebar {
        top: 3.4rem;
    }
    .techstack-sidebar-show {
        right:0%;
    }
    .techstack-sidebar-container {
        padding:20% 15%;
    }
    .techstack-meny-dots-x i:first-child {
        top:0.75rem;
    }
    .techstack-meny-dots-x i:last-child {
        top:-0.7rem;
    }
    .intro-img {
        margin-bottom:0;
    }
    .intro-img-toexperience {
        position: relative;
        transition: 0.5s;
        height: 14rem;
        top: 110%;
        left: 53%;
        width: 28%;
    }
    .section-intro {
        padding-top:25%;
        width:50%;
        height:45vh;
    }
    .section-intro.new-vh {
        height:35vh; 
    }
    .section-experience{
        flex-direction: row;
        top: -14rem;
    }
    .experience-list {
        order:1;
        width:60%;
        margin-bottom:0;
    }
    .experience-info {
        order:2;
        width:32%;
        padding-top: 19.5rem;
        padding-left: 5rem;
    }
    .experience-info:before {
        content: "";
        display: block;
        position: absolute;
        height: 8rem;
        width: 0.2rem;
        background: #fff;
        right: 8.2rem;
        top: 10.5rem;
    }
    .footer {
        flex-direction: row;
        padding:2rem 6rem;
        font-size:1.4rem;
    }   
}


.techstack-meny .icon-menu:before {
    line-height: 0.3;
}
