/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    vertical-align: baseline;
    color:#fff;
    text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    width:100%;
    line-height: 1.2;
    background-color:#607665;
    color:#fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:300;
}
html {
    font-size: 14px;
}

.header {
    position:fixed;
    z-index:1;
    display:flex;
    justify-content:space-between;
    top:0;
    background:#607665;
    font-weight:400;
    width:100%;
    padding:2% 6%;
    box-sizing:border-box;
}
.logo {
    font-size:6rem;
}
.h1 {
    font-size:1.8rem;
}
.menulinks {
    font-size:1.6rem;
}
.techstack-menu {
    display:flex;
    z-index:3;
    position:relative;
    right:0%;
    transition:0.5s;
    font-size: 1.6rem;
    cursor:pointer;
    top:0.4rem;
}
.techstack-menu-close {
    right:-100%;
    transition:0.5s;
}
.techstack-menu-sidebar {
    position:absolute;
    right:-100%;
    transition:0.5s;
    top: 2%;
    font-weight: 400;
}
.techstack-menu-open {
    right:6%;
    transition:0.6s;
}
.techstack-menu-dots {
    display:flex;
    flex-direction:column;
    transform:rotate(0deg);
    transition-delay: 0.1s;
    transition:0.5s;
    padding:0.15rem 0 0 0.6rem;
}
.techstack-menu-dots-x i:first-child {
    position: relative;
    transform:rotate(45deg);
    top:0.6rem;
    transition:0.5s;
    transition-delay: 0.4s;
}
.techstack-menu-dots-x i:nth-child(2) {
    position: relative;
    transform:rotate(45deg);
    transition:0.5s;
    transition-delay: 0.4s;
}
.techstack-menu-dots-x i:last-child {
    position: relative;
    transform:rotate(-45deg);
    top:-0.55rem;
    transition:0.5s;
    transition-delay: 0.4s;
    right:2px;
}
.techstack-menu i {
    line-height: 0.3;
}
.techstack-sidebar {
    position:fixed;
    z-index:2;
    background:#708975;
    right:-94%;
    width:94%;
    height:100vh;
    font-size:4rem;
    transition: 0.5s;
    overflow: hidden;
}

.techstack-sidebar .devicon{
    position:relative;
    opacity: 0;
    transition: 0.7s;
}
.techstack-sidebar-show .devicon{
    position:relative;
    opacity: 1;
    transition: 0.7s;
    transition-delay: 0.5s;
}
.techstack-sidebar-show {
    transition: 0.5s;
    right:0%;
    top:0;
}
.techstack-sidebar-container {
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:25% 10%;
}
.techstack-sidebar-card {
    display:flex;
    justify-content:space-between;
    margin-bottom:1.5rem;
}
@media only screen and (max-width:769px) {
    .link-container {
        display:flex;
        justify-content:center;
        align-items:center; 
        flex-direction:column;
        height:100%;
    }
    .menulinks {
       margin-bottom:1rem;
    }
}

@media only screen and (min-width:768px) {
    .header {
        padding:3rem 6rem 2rem;
    }
    .h1 {
        font-size:2.4rem;
    }
    body, .header {
        max-width:1400px;
        margin: 0 auto;
    }
    .techstack-menu {
        display:none;
    }
    .techstack-sidebar {
        width: auto;
        right: 0;
        background:transparent;
        height:auto;
        margin-right:3rem;
    }
    .menulinks {
        font-size:1.4rem;
        margin-right:2rem;
        vertical-align:bottom;
    }
    .menulinks:hover {
        color:#e5e5e5;
    }
    

}

.techstack-menu .icon-menu:before {
    line-height: 0.3;
}
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?57254392');
    src: url('../font/fontello.eot?57254392#iefix') format('embedded-opentype'),
         url('../font/fontello.woff2?57254392') format('woff2'),
         url('../font/fontello.woff?57254392') format('woff'),
         url('../font/fontello.ttf?57254392') format('truetype'),
         url('../font/fontello.svg?57254392#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?57254392#fontello') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
   
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-menu:before { content: '\e819'; } /* '' */
  .icon-loggaelin:before { content: '\e833'; } /* '' */